<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DVTConvertExistingFilesLineEndings</key>
	<true/>
	<key>DVTFontAndColorLastUpdatedToolsVersion</key>
	<string>27.0</string>
	<key>DVTTextEditorTrimWhitespaceOnlyLines</key>
	<true/>
	<key>DVTTextPageGuideLocation</key>
	<integer>120</integer>
	<key>DVTTextScopeGuidesDisplayStyle</key>
	<string>Active Only</string>
	<key>DVTTextShowPageGuide</key>
	<true/>
	<key>DVTTextShowScopeGuides</key>
	<true/>
	<key>DVTWorkspaceGlobalFontRecipe</key>
	<data>
	eyJmb250cyI6W3siY29kZSI6e319LHsiY2F0ZWdvcnkiOnsiY29kZSI6e319LCJkaXNw
	bGF5TW9kZXMiOlt7InN0YW5kYXJkIjp7fX0seyJjYXRlZ29yeSI6eyJjb2RlIjp7fX0s
	ImNvbnRlbnQiOnsiYXV0b21hdGljIjp7InNpemUiOjExfX19XX1dLCJsaW5lU3BhY2lu
	ZyI6eyJub3JtYWwiOnt9fX0=
	</data>
	<key>DVTWorkspaceThemeSettings</key>
	<data>
	eyJkYXJrIjp7InNhdmVkUmVjaXBlIjp7Il8wIjoiOEIyNjJEOTYtNTRGMy01MzU2LUJG
	QTMtOTk4QTMzNTAwMUI3In19LCJsaWdodCI6eyJzYXZlZFJlY2lwZSI6eyJfMCI6IjQw
	NkVGNUJDLUIwNkItNTZGQy04MjkxLTEwODlDRDYxNjk0MCJ9fX0=
	</data>
	<key>IDEAppearance</key>
	<integer>0</integer>
	<key>IDEDidCompleteThemesFLEToolsVersion</key>
	<string>27.0</string>
	<key>IDEDistributionAppSubmissionNotificationEnabled</key>
	<false/>
	<key>IDEDistributionNotarizationNotificationEnabled</key>
	<false/>
	<key>IDENavigatorRowSizeStyle</key>
	<integer>1</integer>
	<key>XCFontAndColorCurrentDarkTheme</key>
	<string>GitHub (Dark).xccolortheme</string>
	<key>XCFontAndColorCurrentTheme</key>
	<string>GitHub (Light).xccolortheme</string>
</dict>
</plist>
